@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
}


.cabecera {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(198, 204, 205, 1) 100%);
    font-size: 30px;
}

.boton-login{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    font-size: 15px;
    top: 5px;
    padding: 5px;
    text-align: center;
    display: none;
}

.login-header img {
    width: 100%;
}

.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.modal-dialog {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 0%;
}

.modal-content {
    padding: 20px;
}

.pie-pagina {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.card {
    width: 40%;
    border: none;
    align-items: center;
    text-align: center;
    background-color: rgb(249, 249, 249);
    padding: 30px;
}

.card img {
     width: 200px;
     padding: 30px;
}

.container {
    padding: 2px 16px;
}

.titulo-01{
    background-color: rgb(249, 249, 249);
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.cards{
    display: flex;
    width: 100%;
}

.titulo-02{
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.contenido-01{
    background: rgb(249, 249, 249);
    background: -moz-linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(67, 166, 238, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(67, 166, 238, 1) 100%);
    background: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(67, 166, 238, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f9f9f9", endColorstr="#43a6ee", GradientType=1);
}

.contenido{
    display: flex;
    padding: 30px;
}

.contenido img{
    position: relative;
    left: 10%;
}

.putnos-importantes li{
    padding: 30px;
}


@media only screen and (max-width: 978px) {
    .boton-login{
        display: inline;
    }
    .modal-dialog{
        display: none;
    }
    .cards{
        display: inline;
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .contenido{
        display: inline;
    }
    .cabecera{
        padding: 20px;
    }
    .cabecera p{
        display: none;
    }
}